@page
@model SecurityHeadersDemo.Pages.Shopping.ShoppingCartModel
@{
    ViewData["Title"] = "ShoppingCart";
}

@*Intentionally setting antiforgery token validation to false to demo Cache-Control, because when it's on ASP.NET Core turns on Cache-Control for you.*@
<form method="post">
    <h3 style="padding-top: 3rem; padding-bottom: 3rem;">Shopping Cart</h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Item</td>
                <td>Price</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ShoppingCart)
            {
                <tr>
                    <td>@item.Item.Name</td>
                    <td>@Html.DisplayFor(model => item.Item.Price)</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>@Html.DisplayFor(model => Model.TotalInCart)</td>
            </tr>
        </tfoot>
    </table>

    <button class="btn btn-primary" style="margin-top: 3rem;">Buy all the things</button>
</form>


<h3 style="padding-top: 3rem; padding-top: 5rem; padding-bottom:3rem;">Previous Orders</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Item</td>
            <td>Price</td>
            <td>Purchased Date</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PreviousOrders)
        {
        <tr>
            <td>@item.Item.Name</td>
            <td>@Html.DisplayFor(model => item.Item.Price)</td>
            <td>@Html.DisplayFor(model => item.DateTimePurchased)</td>
        </tr>
        }
    </tbody>
</table>